<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>アカウント情報の変更</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1>サンプルショッピング</h1>
	</header>
	<hr>
	<main>
	<h3>アカウント情報の変更</h3>
	<form action="/account/setting/confirm" method="post">
		<ul th:if="${errorList}">
		<li th:each="error:${errorList}" th:text="${error}" style="color: red;"></li>
	    </ul>
			<table>
				<tr>
					<th>お名前</th>
					<td>
						<input type="text" name="name" th:value= "${@account.userName}">
					</td>
				<tr>
					<th>住所</th>
					<td >
						<input type="text" name="address" th:value= "${@account.userAddress}" >
					</td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td >
						<input type="text" name="tel" th:value= "${@account.userTel}" >
					</td>
				</tr>
				<tr>
					<th>e-mail</th>
					<td >
						<input type="text" name="email" th:value= "${@account.userEmail}">
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<input type="password" name="password" >
					</td>
				</tr>
			</table>
			<button>アカウント情報を更新</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>