<table>
	<tr>
		<th>NO</th>
		<th>商品名</th>
		<th>値段</th>
		<th>個数</th>
		<th>小計</th>
		<th></th>
	</tr>
	<tr th:each="item:${@cart.itemList}">
		<td th:text="${item.id}"></td>
		<td th:text="${item.name}"></td>
		<td th:text="'\\' + ${#numbers.formatInteger(item.price, 3, 'COMMA')}"></td>
		<td th:text="${item.quantity}"></td>
		<td th:text="'\\' + ${#numbers.formatInteger(item.price * item.quantity - @account.usePoint, 3, 'COMMA')}"></td>
		<td>
			<form action="/cart/delete" method="post">
				<input type="hidden" name="itemId" th:value="${item.id}">
				<button>削除</button>
			</form>
		</td>
	</tr>
	<tr>
		<td align="right" colspan="5" th:text="'総計：\\' +${@cart.totalPrice} + '獲得予定ポイント：' + ${@cart.totalPoint} + 'ポイント'"></td>
		<td th:if="${usePoint}" th:text="'利用予定ポイント：' + ${usePoint} + 'ポイント'"></td>
	</tr>
</table>