<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
		<header th:replace="header"></header>
		<hr>
		<main>
			<span th:replace="cartItem"></span>
			<form action="/order" method="get">
				<p>利用するポイント</p>
				<input type="number" name="usePoint" placeholder="0" min="0" th:max="${@account.userPoint}"><br>
				<button>注文する</button>
			</form>
		</main>
		<hr>
	    <footer th:replace="footer"></footer>

</body>
</html>