<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<nav>
		<form action="/items" method="get">
		商品名：<input type="text" name="keyword" th:value="${keyword}" placeholder="検索" >
		<button>検索</button>
		</form>	
		<a href="/items">全商品</a>
		<a th:each="c:${categories}" th:href="@{/items(categoryId=${c.id})}">
			<span th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
		<a href="/cart" style="padding-left: 10px;">カートを見る</a>
	</nav>
	<main>
		<h1 th:text="${item.name}"></h1>
		
		<p th:text="${item.detail}"></p>
		
		<h3  th:text="'\\' + ${#numbers.formatInteger(item.price, 3, 'COMMA')}"></h3>
		
		<p><a href="/cart" style="padding-left: 10px;">カスタマレビューを確認</a></p>
	<form action="/cart/add" method="post">
			<input type="hidden" name="itemId" th:value="${item.id}">
			<button>カートに追加</button>
		</form>
	<form action="/cart/add" method="post">
			<input type="hidden" name="itemId" th:value="${item.id}">
			<button>欲しいものリストに追加</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>

</body>
</html>