<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
	<header>
		<h1>サンプルショッピング</h1>
	</header>
	<main>
		<div id="carouselExampleControls" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/main.jpg" class="d-block w-100" alt="第1スライド">
    </div>
    <div class="carousel-item">
      <img src="/images/img_keyvisual.jpg" class="d-block w-100" alt="第2スライド">
    </div>
    <div class="carousel-item">
      <img src="/images/GMkD2WHb0AAiUgk.jpg" class="d-block w-100" alt="第3スライド">
    </div>
  </div>
  <button type="button" class="carousel-control-prev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">前へ</span>
  </button>
  <button type="button" class="carousel-control-next" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">次へ</span>
  </button>
</div>
		<form action="/login" method="post">
			<span th:text="${message}" style="color: red;"></span><br>
			<input type="text" name="email" placeholder="メールアドレス"><br>
			<input type="password" name="password" placeholder="パスワード"><br>
			<button>ログイン</button><br>
			<a href="/add">新規会員登録はこちら</a>
		</form>
	</main>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>