<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>購入した商品をレビュー</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .star-rating {
            direction: rtl;
            font-size: 1.5rem;
        }
        .star-rating input[type="radio"] {
            display: none;
        }
        .star-rating label {
            color: #ddd;
            cursor: pointer;
        }
        .star-rating label:hover,
        .star-rating label:hover ~ label,
        .star-rating input[type="radio"]:checked ~ label {
            color: #f5b301;
        }
    </style>
</head>
<body class="bg-light">
    <header th:replace="header"></header>
    <div style="margin-top: 80px;">
    <main class="container py-4">
        <h1 class="mb-3">購入した商品をレビュー</h1>
        <form th:each="od:${orderDetails}" th:action="@{/order-history/{id}/addreview(id=${od.orderId})}" method="post">
            <ul class="list-unstyled" th:if="${errorList}">
                <li class="text-danger" th:each="error:${errorList}" th:text="${error}"></li>
            </ul>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" th:each="ii:${itemImages}" th:src="${ii.image}">
                </div>
                <div class="col-md-8">
                    <h3  th:text="${od.name}"></h3>
                    <div class="mb-3">
                        <label class="form-label">評価</label>
                        <div class="star-rating">
                            <input type="radio" id="5-stars" name="reviewScore" value="5" th:checked="${review != null and review.reviewScore == 5}">
                            <label for="5-stars" class="star">&#9733;</label>
                            <input type="radio" id="4-stars" name="reviewScore" value="4" th:checked="${review != null and review.reviewScore == 4}">
                            <label for="4-stars" class="star">&#9733;</label>
                            <input type="radio" id="3-stars" name="reviewScore" value="3" th:checked="${review != null and review.reviewScore == 3}">
                            <label for="3-stars" class="star">&#9733;</label>
                            <input type="radio" id="2-stars" name="reviewScore" value="2" th:checked="${review != null and review.reviewScore == 2}">
                            <label for="2-stars" class="star">&#9733;</label>
                            <input type="radio" id="1-star" name="reviewScore" value="1" th:checked="${review != null and review.reviewScore == 1}">
                            <label for="1-star" class="star">&#9733;</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">レビュータイトル</label>
                        <input type="text" class="form-control" name="reviewTitle" th:value="${review != null ? review.reviewTitle : null}" placeholder="最も伝えたいポイントは何ですか？">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">写真または動画を追加する</label>
                        <input type="file" class="form-control" name="reviewImage" accept="image/png, image/jpeg">
                        <div class="form-text">テキストのみよりも、画像と動画の方が購入者に役立ちます。</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">レビュー詳細</label>
                        <textarea class="form-control" name="reviewDetail" th:value="${review != null ? review.reviewDetail : null}" placeholder="気に入ったこと/気に入らなかったことは何ですか？この製品をどのように使いましたか？"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">投稿</button>
                </div>
            </div>
        </form>
    </main>
    <footer th:replace="footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
