<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カスタマーレビュー</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<nav>
		<form action="/items" method="get">
		商品名：<input type="text" name="keyword" th:value="${keyword}" placeholder="検索" >
		<button>検索</button>
		</form>	
		<a href="/items">全商品</a>
		<a th:each="c:${categories}" th:href="@{/items(categoryId=${c.id})}">
			<span th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
		<a href="/cart" style="padding-left: 10px;">カートを見る</a>
	</nav>
	<main>
		<table>
			<tr>
				<th>レビュー日</th>
				<th>レビュータイトル</th>
				<th>評価</th>
				<th>レビュー詳細</th>
				<th>高評価</th>
				<th>低評価</th>
			</tr>
			<tr th:each="review:${reviews}">
				<td th:text="${review.reviewedOn}"></td>
				<td th:text="${review.reviewTitle}"></td>
				<td th:text="${review.reviewScore}"></td>
				<td th:text="${review.reviewDetail}"></td>
				<td th:text="${review.good}"></td>
				<td th:text="${review.bad}"></td>
			</tr>
		</table>
	</main>		
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>