<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購入した商品をレビュー</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<h1>購入した商品をレビュー</h1>
	
	<form th:each="od:${orderDetails}" th:action="@{/order-history/{id}/addreview(id=${od.itemId})}" method="post">
		<ul th:if="${errorList}">
		<li th:each="error:${errorList}" th:text="${error}" style="color: red;"></li>
	    </ul>
	    	<p><img th:each="ii:${itemImages}" th:src="${ii.image}"></p>
	    	<h3 th:each="od:${orderDetails}" th:text="${od.name}"></h3>
	    	<p>評価</p>
			<p><input type="number" min="0" max="5" name="reviewScore" th:value= "${review} != null ? ${review.reviewScore} : null"></p>
			<p>レビュータイトル</p>
			<p><input type="text" name="reviewTitle" th:value= "${review} != null ? ${review.reviewTitle} : null"  placeholder="最も伝えたいポイントは何ですか？"></p>
			<p>写真または動画を追加する</p>
			テキストのみよりも、画像と動画の方が購入者に役立ちます。<br>
			<p><input type="file"  name="reviewImage" accept="image/png, image/jpeg" /></p>
			<p>レビュー詳細</p>
			<p><textarea name="reviewDetail" th:value= "${review} != null ? ${review.reviewDetail} : null"  placeholder="気に入ったこと/気に入らなかったことは何ですか？この製品をどのように使いましたか？"></textarea></p>
			<button>投稿</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>

</body>
</html>