<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード再設定</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1>サンプルショッピング</h1>
	</header>
	<h1>パスワード再設定</h1>
	<span th:text="${message}" style="color: red;"></span><br>
	<form action="/setNewPassword" method="post">
        <div>
            <label for="email">あなたのメールアドレス</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div>
            <label for="password">新しいパスワード</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">パスワードを変更</button>
        </div>
    </form>

</body>
</html>